{% extends 'base.html' %}

{% block bodyblock %}

<div class="container">
    <br><br>
    <div style="text-align:center;">
        <h3 class="display-6">
            Welcome to the face recognition web app!
        </h3>
    </div>
    
    <br><br>
    <h2>Introduction:</h2>
    <br>
    <p>
        This web app achieves automatic face recognition in images using the Haar Cascade classifier, 
        it can display the annotated image with bounding boxes around the detected faces, along with gender labels and probability scores, 
        as well as a table containing the cropped face image, Eigen image, predicted gender, and probability score for each detected face in the original image. 
    </p>
    <br><br>
    <div class="row">
        <div>
            <h2>How does it predict the gender of a face in a given image?</h2>
            <br>
            <ol>
                <li>Apply PCA model to the preprocessed image to generate an Eigen image and extract the most important facial features from the image.</li>
                <ul>
                    <li>Subtracting the mean face of the set of training images from each individual image.</li>
                    <li>
                        Calculating the covariance matrix of the set of centered images that represents the correlations between pairs of pixels in the images, 
                        in order to identify patterns or features that are common across the set of images.
                    </li>
                    <li>
                        Calculating the eigenvectors and eigenvalues of the covariance matrix. Eigenvectors represent the directions in which the data varies the most, 
                        while eigenvalues represent the amount of variance explained by each eigenvector. 
                        The eigenvectors with the highest eigenvalues represent the most important features or patterns in the set of images.
                    </li>
                </ul>
                <br>
                <li>Use well-trained SVM model to classify an image as male or female based on the features extracted by the PCA model from the Eigen image.</li>
                <ul>
                    <li>Learning the best hyperplane that can separate the male and female classes based on the Eigen images. </li>
                    <li>Assigning a label to the image based on which side of the hyperplane it falls. 
                        If the image falls on the male side of the hyperplane, it is classified as male, and if it falls on the female side, it is classified as female.</li>
                </ul>
            </ol>

        </div>
    </div>
    <br><br>
    
    
</div>

{% endblock %}